a.gb_P {
	color: #fff !important;
}

a.gb_b.gb_qc{
	background-color: #fff !important;
	opacity: 1 !important;
}

body {
	background-color: #000 !important;
}

div.fbar{
	background-color: #000 !important;
} 

#fbar{
	border-top: 0px solid #000 !important;
}

a.Fx4vi{
	color: #fff !important;
}

.gb_4c {
	background-color: rgba(255, 255, 255, 0.4) !important;
}

a.gb_ga.gb_ng{
	color: #000 !important;
}


a.gb_b.gb_hb.gb_R{
	background-color: #fff;
}

a{
	color: #fff !important;
}

div > span.hb2Smf{
	content: url("https://i.imgur.com/Ua1vitL.png") !important;
	height: 40px !important;
	width: auto !important;
	padding-bottom: 3px !important;
}

a#sbfblt{
	background-color: transparent !important;
}

span.gb_Z{
	color: #000 !important;
}

a.gb_Aa.gb_og.gb_9e.gb_Mb, a#gb_71{
	color: #000 !important;
}