a.gb_P {
	color: #fff !important;
}

a.gb_b.gb_qc{
	background-color: #fff !important;
	opacity: 1 !important;
}

body {
	background-color: #000 !important;
}

div.fbar{
	background-color: #000 !important;
} 

#fbar{
	border-top: 0px solid #000 !important;
}

a.Fx4vi{
	color: #fff !important;
}

.gb_4c {
	background-color: rgba(255, 255, 255, 0.4) !important;
}

a.gb_b.gb_hb.gb_R{
	background-color: #fff;
}

a{
	color: #fff !important;
}

img#custom-load{
	height: 30% !important;
	padding-left: 10px;
	padding-bottom: 50px !important;
}

img#custom-last{
	height: 70% !important;
	padding-left: 10px !important;
	padding-top: 0px !important;
	margin-top:50px !important;
}

img#custom-g{
	height: 48% !important;
	width: auto !important;
	padding-top: 0px !important;
	padding-bottom: 50px !important;
}

#hplogo{
	content: url("https://static-cdn.jtvnw.net/jtv_user_pictures/e91a3dcf-c15a-441a-b369-996922364cdc-profile_image-300x300.png");
	height: 10px !important;
	width: 10px !important;
}

div > span.hb2Smf{
	content: url("https://i.imgur.com/Ua1vitL.png") !important;
	height: 40px !important;
	width: auto !important;
	padding-bottom: 3px !important;
}

a#sbfblt{
	background-color: transparent !important;
}

span.gb_Z{
	color: #000 !important;
}

a.gb_Aa.gb_og.gb_9e.gb_Mb, a#gb_71{
	color: #000 !important;
}

